.loginBackground{
    background-color: #5CDB95;
}
.allItemsBackground{
    width: 62%;
    height: 88%;
    position: fixed;
    background-color: #379683;
    margin-top: 1%;
    margin-left: 20%;
    border-radius: 50px;
}
.texts{
    width: 94%;
    margin-top: 47%;
}
.fixedposition{
    margin-top: -18%;
}
.text{
    width: 50%;
    height: 14%;
    margin-left: -25%;
    position: fixed;
    font-size: 300%;
    text-align: center;
    background-color: #5CDB95;
    border-style: double;
    border-radius: 50px;
}
.text1{
    width: 50%;
    height: 14%;
    margin-left: -25%;
    margin-top: 6%;
    position: fixed;
    font-size: 300%;
    text-align: center;
    background-color: #5CDB95;
    border-style: double;
    border-radius: 50px;
}
.imgLog{
    width: 32%;
    margin-top: -68%;
    background-color: #5CDB95;
    border-radius: 125px;
}
.button1{
    width: 25%;
    margin-top: 23%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    color: white;
    background-color: #05386B;
    border-radius: 10cm;
}