.Texts{
    width: 800px;
    margin-top: 400px;
}

.fixedposition{
    margin-top: -125px;
}

.text{
    width: 700px;
    height: 75px;
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    border-color: #579E37;
    border-style: double;
}

.imgLog{
    width: 250px;
    margin-top: -550px;
    background-color: #579E37;
    border-radius: 50px;
}

.button1{
    width: 25%;
    height: 75px;
    margin-top: 35px;
    margin-bottom: -500px;
    border-radius: 10cm;
    font-family: 'Times New Roman', Times, serif;
    border-color: #579E37;
    border-style: double;
    font-size: 40px;
}

.button1:hover{
    background-color: #579E37;
    color: antiquewhite;
}