.loginBackground{
    background-color: #5CDB95;
}
.allItemsBackground{
    background-color: #379683;
    margin-top: -380px;
    height: 570px;
    width: 850px;
    border-radius: 50px;
}
.texts{
    width: 800px;
    margin-top: 400px;
}

.fixedposition{
    margin-top: 10px;
}

.text{
    width: 700px;
    height: 75px;
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    background-color: #5CDB95;
    border-style: double;
}

.imgLog{
    width: 250px;
    margin-top: 15px;
    background-color: #5CDB95;
    border-radius: 125px;
}

.button1{
    width: 25%;
    height: 75px;
    margin-top: 35px;
    margin-bottom: -500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    background-color: #05386B;
    border-style: double;
    border-radius: 10cm;
}