@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

.backgroundQR{ 
    background-color: #5CDB95;
}
.containerQR{
    margin-top: 2%;
    margin-left: 42%;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: #05386B;
    
}
.title_qr{
    justify-content: center;
    font-size: 400%;
    font-family: 'Baloo 2', cursive;
    color: white;
}
.qrcode{
    margin-top:12%;
    margin-left:12%;
}
.userCardInfoA{
    background-color: #05386B;
    width: 35%;
    height: 15%;
    position: fixed;
    margin-top: 3.5%;
    margin-left: 5% !important;
    border-radius: 35px;
}
.userCardInfoB{
    background-color: #05386B;
    width: 35%;
    height: 15%;
    position: fixed;
    margin-top: 2%;
    margin-left: 59%;
    border-radius: 35px;
}
.button_text{
    width: 80%;
    margin-left: 15%;
    margin-top: 3%;
    font-size: 200%;
    font-family: 'Baloo 2', cursive;
    color: white;
}