.imgLan{
    width: 350px;
    margin-left: 150px;
    margin-top: -290px;
    background-color: #579E37;
    border-radius: 50px;
}

.buttonsposition{
    margin-top: -435px;
    margin-left: -300px;
}

.buttonLan{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    border-color: #579E37;
    border-style: double;
}

.buttonLan:hover{
    background-color: #579E37;
    color: antiquewhite;
}

.buttonLan1{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 90px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    border-color: #579E37;
    border-style: double;
}

.buttonLan1:hover{
    background-color: #579E37;
    color: antiquewhite;
}

.buttonLan2{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 105px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    border-color: #579E37;
    border-style: double;
}

.buttonLan2:hover{
    background-color: #579E37;
    color: antiquewhite;
}