.landingBackground{
    background-color: #5CDB95;
}
.contentBackground{
    background-color: #379683;
    margin-top: -370px;
    width: 1250px;
    margin-left: 130px;
    height: 550px;
    border-radius: 50px;
}
.imgLan{
    width: 250px;
    margin-left: 220px;
    margin-top: 5px;
    background-color: #5CDB95;
    border-radius: 150px;
}
.imgLan1{
    width: 300px;
    margin-left: 200px;
    margin-top: -2px;
    border-radius: 50px;
}
.textsLan{
    width: 800px;
    margin-top: 400px;
}
.imagesPosition{
    margin-left: -100px;
}
.buttonsPosition{
    margin-top: -525px;
    margin-left: -450px;
}
.buttonLan{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #5CDB95;
    border-style: double;
}
.buttonLan1{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 90px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #5CDB95;
    border-style: double;
}
.buttonLan2{
    width: 600px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 105px;
    margin-left: 1000px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #5CDB95;
    border-style: double;
}