.mainBackground{
    background-color: #5CDB95;
}
.background{
    margin-top: -58%;
    background-size: contain;
}

.img{
    width: 43%;
    margin-top: -7%;
    margin-left: -70%;
}

.title{
    margin-top: -1%;
    font-weight: bold;
    font-size: 820%;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    width: 40%;
    height: 200px;
    margin-right: -65%;
    border-radius: 10cm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: white;
    background-color: #05386B;
}