.Button{
    width: 25%;
    height: 100px;
    margin-top: 500px;
    margin-bottom: -500px;
    margin-left: -35px;
    border-radius: 10cm;
    font-family: 'Times New Roman', Times, serif;
    border-color: #579E37;
    border-style: double;
    font-size: 40px;
}

.Button:hover{
    background-color: #579E37;
    color: antiquewhite;
}