/* Card */
.storageBackground{
    background-color: #5CDB95;
}
.imgsContainer{
    background-color: #5CDB95;
    width: 22%;
    height: 50%;
    margin-top: -63%;
    margin-left: 72%;
    border-radius: 30px;
}
.image1{
    width: 90%;
    margin-top: 25%;
    margin-left: 5%;
}
.image2{
    width: 90%;
    margin-top: 27%;
    margin-left: 5%;
}
.cardContainer{
    border-style: solid;
    width: 30%;
    height: 71%;
    margin-top: -22%;
    margin-left: 10%;
    background-color: #05386B;
    border-radius: 40px;
}
.imgContainer{
    margin-top: 1%;
    margin-left: 2%;
    width: 3%;
    height: 50%;
    background-color: #5CDB95;
    border-radius: 35px;
}
.imgContainer img{
    width: 700%;
    margin-top: 800%;
    margin-left: 2100%;
}
.imgContainer1{
    width: 60%;
    height: 50%;
    margin-top: 4%;
    margin-left: 3%;
    background-color: #5CDB95;
    border-radius: 35px;
}
.imgContainer1 img{
    width: 80%;
    margin-top: 7%;
    margin-left: 11%;
}
.materialTitle{
    margin-top: 2%;
    margin-left: -55%;
    color: white;
    font-size: 150%;
    font-weight: 500;
}
.pointsText{
    width: 50%;
    margin-top: -5%;
    margin-left: -35%;
    color: white;
    font-size: 90%;
    font-weight: 500;
}
.pointsContainer{
    width: 25%;
    height: 40px;
    margin-left: 2%;
    position: fixed;
    background-color: #5CDB95;
    border-radius: 45px;
}
.pointsContainer p{
    color: #05386B;
    font-size: 150%;
    font-weight: 500;
}
/* Cards Info */
.cardInfo{
    background-color: #05386B;
    width: 48%;
    height: 18%;
    margin-top: -34%;
    margin-left: 45%;
    border-radius: 35px;
}
.cardInfo1{
    background-color: #05386B;
    width: 48%;
    height: 18%;
    margin-top: 1.5%;
    margin-left: 45%;
    border-radius: 35px;
}
.textInfo{
    margin-left: 42%;
    margin-top: -2%;
    font-size: 350%;
    color: white;
}
.textInfo1{
    margin-left: 38%;
    margin-top: -2%;
    font-size: 400%;
    color: white;
}