.rewardsScholarship{
    text-align: left;
    margin-left: 10%;
}

.rewardsFood{
    text-align: center;
    margin-top: 9%;
    margin-left: -10%;
}

.rewardsDrinks{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
}

.rewardsScholarship h1{
    margin-left: 2%;
    margin-top: 7%;
}

.rewardsFood h1{
    margin-left: 6%;
    margin-top: -31%;
}

.rewardsDrinks h1{
    margin-left: 77%;
    margin-top: -28%;
    position: fixed;
}

.rewardsScholarship img{
    width: 20%;
    margin-left: 1%;
    margin-top: 3%;
}

.rewardsFood img{
    width: 17%;
    margin-left: 9%;
    margin-top: 2%;
}

.rewardsDrinks img{
    width: 20%;
    margin-left: -10%;
    margin-top: -30%;
}

.rewardsScholarship button{
    margin-top: 25%;
    margin-left: -23%;
    position: fixed;
    background-color: #05386B;
    color: white;
    width: 27%;
    height: 15%;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.rewardsFood button{
    margin-top: 25.3%;
    margin-left: -23%;
    position: fixed;
    background-color: #05386B;
    color: white;
    width: 27%;
    height: 15%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}

.rewardsDrinks button{
    margin-top: 1.5%;
    margin-left: -22%;
    background-color: #05386B;
    color: white;
    position: fixed;
    width: 27%;
    height: 15%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}